 .title{
    background-color: coral;
    color:white;
    padding:5px 10px;
    text-align: center;
    text-transform: capitalize;
    margin: 50px 0 0 0;
    border-radius: 15px;
 }

 .content {
    display:flex;
    gap:50px
 }